@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* start basic rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: all .2s ease-in-out;
    font-family: "Poppins", sans-serif;
}
:root {
    --primary-clr: #42F8C7;
    --white-clr: #ffffff;
    --heading-clr: #191919;
    --text-clr: #777777;
}
::selection {
    background-color: var(--primary-clr);
    color: var(--white-clr);
}
body {
    height: 10000px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
p {
    line-height: 1.7;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-clr);
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: var(--heading-clr);
}
img {
    max-width: 100%;
    height: auto;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
.heading {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto 4rem;
    text-align: center;
}
.heading span {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 5rem;
    margin-bottom: 1.5rem;
    background-color: var(--primary-clr);
}
.heading h2 {
    font-size: 1.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1;
    color: var(--primary-clr);
    margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
    .heading h2 {
        font-size: 3rem;
    }
}
.btn {
    display: inline-block;
    padding: 12px 34px;
    background-color: transparent;
    border: 1px solid var(--white-clr);
    border-radius: .25rem;
    font-size: .90rem;
    color: var(--white-clr);
}
.btn:hover {
    background-color: var(--primary-clr);
    border-color: transparent;
}
/* end basic rules */
/* start header */
.header {
    position: relative;
    z-index: 2;
    padding: 1.5rem 0;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--white-clr);
}
.brand i {
    color: var(--primary-clr);
}
nav input {
    display: none;
}
.open-nav-btn {
    font-size: 1.75rem;
    color: var(--white-clr);
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .open-nav-btn,
    .close-nav-btn {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .nav-links {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        max-width: 25rem;
        height: 100vh;
        padding: 4rem 20px;
        background-color: var(--primary-clr);
    }
    #open-nav-input:checked ~ .nav-links {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .close-nav-btn {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.75rem;
        color: var(--white-clr);
        cursor: pointer;
    }
    #close-nav-input:checked ~ .nav-links {
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
}
.nav-links ul li {
    display: inline-block;
    margin-right: 2rem;
}
@media screen and (max-width: 768px) {
    .nav-links ul li {
        display: block;
        margin-right: 0;
    }
}
.nav-links ul li a {
    position: relative;
    display: block;
    text-transform: uppercase;
    color: var(--white-clr);
}
.nav-links ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-clr);
    transform: scale(0);
    transition: all .2s linear;
    transform-origin: center center;
}
@media screen and (max-width: 768px) {
    .nav-links ul li a {
        padding: 20px 0;
    }
}
@media screen and (min-width: 768px) {
    .nav-links ul li a:hover {
        color: var(--primary-clr);
    }
    .nav-links ul li a:hover:after {
        transform: scale(1);
    }
}
/* end header */
/* start home */
.home {
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: -77px;
    background: linear-gradient(#517e86c4, #949fdf1a),
    url(../img/banner1.png) center center no-repeat;
    background-size: cover;
}
.home-content {
    width: 100%;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;
}
.home-content h1 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--primary-clr);
    margin-bottom: 8px;
}
.home-content h3 {
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: #c8fff2;
    margin-bottom: 18px;
}
.home-content p {
    color: var(--white-clr);
    margin-bottom: 18px;
}
/* end home */
/* start course */
.course {
    padding: 5rem 0;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
}
.course .card {
    padding: 1.5rem 1.25rem;
    background-color: #eee;
    border-radius: .25rem;
    text-align: center;
}
.course-name {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
}
/* end course */
/* start campus */
.campus {
    padding: 0 0 5rem;
}
.campus .card {
    position: relative;
    overflow: hidden;
}
.campus-img,
.card-img {
    display: block;
    width: 100%;
    height: 12rem;
    border-radius: .25rem;
}
.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.campus .card:hover .layer {
    background-color: rgb(66 248 199 / 50%);
}
.layer .city {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
    font-size: 1.25rem;
    letter-spacing: 1px;
    color: var(--white-clr);
}
.campus .card:hover .layer .city {
    bottom: 50%;
}
/* end campus */
/* start facilities */
.facilities .card-img {
    margin-bottom: 22px;
}
/* end facilities */